html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f7f9fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 5px;
  height: 1.75rem;
  color: #fff;
  background-color: #3d98d3;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.0375em;
}

button:disabled {
  background-color: #dcdee7;
  color: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #f7f9fa;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

thead button {
  color: inherit;
  border: 0;
  border-radius: none;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

tbody td {
  padding: 1em 0.5em;
  border-bottom: 1px solid #ccc;
}

.box {
  width: 100%;
  margin-bottom: 1em;
  padding: 0 1.5em;
  padding-bottom: 0px;
  padding-bottom: 24px;
  background-color: #fff;
  border: 1px solid #e7e9eb;
  border-radius: 0.25em;
}

.grouping {
  float: right;
  padding-right: 15px;
  margin-bottom: 10px;
}

.grouping h4 {
  margin: 5px 0 5px 0;
}

.grouping input[type="checkbox"] {
  margin-right: 5px;
}

.sortable-table .subtable {
  margin-bottom: 15px;
}

.sortable-table .subtable thead button {
  cursor: default;
}

.sortable-table .subtable thead tr:hover {
  background-color: transparent;
}

.sortable-table thead.header button.ascending::after {
  content: "\21CA";
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -2px;
}

.sortable-table thead.header button.descending::after {
  content: "\21C8";
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -2px;
}

.sortable-table thead.header th {
  text-align: left;
  border-bottom: 2px solid black;
}

.sortable-table thead.header button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

.sortable-table .subrow {
  padding: 0 0 0 50px;
}
.show-more {
  text-align: center;
  padding: 15px 0;
}
